sphinx>=7.2.4,!=7.2.5
insipid-sphinx-theme
myst-parser
breathe
sphinx_fontawesome
nbsphinx
ipython
sphinx-design
sphinx-material
sphinxcontrib-bibtex
#enum-tools[sphinx]  # Install manually
quokka-project
python-binexport
python-bindiff
idascript
qbindiff
